* {
  box-sizing: border-box; /* Kutulama modelini düzeltir */
}

html, body {
  margin: 0;        /* Tarayıcı varsayılan boşluğunu sıfırlar */
  padding: 0;       
  width: 100%;
  overflow-x: hidden; 
}

#root {
  margin: 0;        /* Uygulama ana div'inin boşluğunu sıfırlar */
  padding: 0;
  min-height: 100vh; /* Root'un da tüm yüksekliği kaplamasını sağlar */
}
/* 
.body {
    background-color: red
}

#root {
  background-color: red;
} */